<footer class="footer">
    <div class="container-fluid">
        <div class="footer__inner d-flex">
            <p class="footer__company">Металлтехкомплект</p>
            <p class="footer__company_mobile">МТК</p>
            <ul class="footer__social social d-flex">
                <li class="social__item">
                    <a href="#" class="social__link"><span>facebook</span><img src="../img/fb.png" class="social__image" alt="fb"></a>
                </li>
                <li class="social__item">
                    <a href="#" class="social__link"><span>twitter</span><img src="../img/tw.png" class="social__image" alt="tw"></a>
                </li>
                <li class="social__item">
                    <a href="#" class="social__link"><span>vkontakte</span><img src="../img/vk.png" class="social__image" alt="vk"></a>
                </li>
            </ul>
            <p class="footer__copyright">© Компания 2019</p>
        </div>
    </div>
</footer>
<div class="remodal" data-remodal-id="modal-callback">
    <div class="remodal__box-title">
        <div class="remodal__title title title_h3">Заказать звонок</div>
    </div>
    <div class="contact-form">
        <div class="form-complete">
            <div class="form-complete__title title title_h3">Ваше сообщение отправлено</div>
            <div class="form-complete__subtitle">
                Ма свяжемся с Вами в ближайшее время
            </div>
            <a href="#" class="form-complete__button button">Cпасибо жду звонка.</a>
        </div>
        <form action="#" class="remodal__form form form-ajax">
            <div class="form__inner remodal__grid row d-flex">
                <div class="form__group">
                    <label for="#" class="form__label">Ваше Фио</label>
                    <input type="text" class="form__input" required>
                </div>
                <div class="form__group">
                    <label for="#" class="form__label">Телефон</label>
                    <input type="tel" class="form__input" required>
                </div>
            </div>
            <div class="form-group form__group_large terms-conditions">
                <label for="license1">
                    <input id="license1" type="checkbox" class="checkbox-template" checked="">
                    <span> Я прочитал(а) и принимаю условия <a href="#" class="terms-conditions__link">пользовательского соглашения</a></span>
                </label>
            </div>
            <button class="remodal__btn form__btn btn d-flex">
                <span class="btn__text">Заказать звонок</span>
            </button>
        </form>
    </div>
    <button data-remodal-action="close" class="remodal-close"></button>
</div>
</div>
<div class="arrow-up"></div>
<script src="js/main.js"></script>
</body>

</html>