<footer class="footer">
    <div class="container-fluid">
        <div class="footer__inner d-flex">
            <p class="footer__company">Металлтехкомплект</p>
            <ul class="footer__social social d-flex">
                <li class="social__item">
                    <a href="#" class="social__link">facebook</a>
                </li>
                <li class="social__item">
                    <a href="#" class="social__link">twitter</a>
                </li>
                <li class="social__item">
                    <a href="#" class="social__link">vkontakte</a>
                </li>
            </ul>
            <p class="footer__copyright">© Компания 2019</p>
        </div>
    </div>
</footer>
</div>
<div class="arrow-up"></div>
<script src="js/main.js"></script>
</body>

</html>